<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Student</title>
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
</head>
<body>
    <div class="columns is-centered" style="margin-top: 5vw">
        <div class="column is-half">
            <h2 class="heading" style="font-size: 2em">Student Details</h2>
            <form method="post" action="/colleges/{{ college_acronym }}/">
                {% csrf_token %}
                {% for hidden in student_form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {{ student_form.as_p }}
                {% for hidden in mocktest1_form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {{ mocktest1_form.as_p }}
                <button type="submit">Add Student</button>
            </form>
        </div>
    </div>
</body>
</html>